
.navlogo{
    height: 200px;
    width: 200px;
}

body {
  background-color:#000000;
  font-size: 1.5em;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Dekko';font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
    line-height: 26.4px;    
    padding-bottom: 30px;
}
li {
    display: inline-block;
    padding: 0 10px;
}
header{
text-align: center;
}
a {
    text-decoration: none;
    color: rgba(255,255,255,1);
    position: relative;
    padding: 16px 7px;
    border-top: 2px solid rgba(255,255,255,0);
    border-bottom: 2px solid rgba(255,255,255,0);
    transition:  .3s,border-color .3s;
  }
  
  a:focus, a:hover {
    padding: 10px 10px;
    border-color: rgba(255,255,255,1);
    outline: none;
    color: rgb(201, 49, 49);
  }
  
  
  a:focus::before, a:hover::before, a:focus::after, a:hover::after {
    max-height: 90%;
    transition-delay: .28s;
    border-color: rgba(255,255,255,1);
  }
#topPart{
    background-image: url("https://image.ibb.co/kCk3Qb/foodbg.png");
    background-position: center; 
    width:100%;
    height: 100%;
    
}
.menuText{
    font-family: 'Pacifico', cursive;
    font-size: 250px;
    color: #FFE818;
    position: fixed;
    left: 250px;
    transform: rotate(90deg);
	transform-origin: left top 0;
}
#fullText{
    color: #FFE818;
    font-family: 'Dekko';font-size: 22px;
    position: relative;
    left: 900px;
    padding: 16px 7px;
    
}